body
{
    color: red;
    text-align: center;
    font-family: "Arial";
}
#Cabecera {
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 8px solid #ddd;
    margin: 0 auto;
}
#post{
    background: gray;
    padding: 1em;
}


#footer {
    background: #777;
    color: white;
    text-align: center;
    
    
}